<!-- export_order_report.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Export Order Report</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-block">Export</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
