{% extends "dashboard/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-x2Gm/Z10b8DszbrFV+fa2aIyPr3cVndJcXpib8bsKfiTQ7ipkKh9e1z71C3Xv4U5" crossorigin="anonymous">

<div class="container">
    <h1 class="mt-4">Welcome to the Admin Dashboard</h1>
    
    
</div>
{% endblock content %}
