
{% extends "dashboard/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    /* Custom styles */
    body {
        background-color: #f8f9fa;
        font-family: Arial, sans-serif;
    }

    .order-box {
        border: 1px solid #dee2e6;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 20px;
        background-color: #fff;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 10px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown-content a {
        color: #333333;
        text-decoration: none;
        display: block;
        padding: 8px 12px;
        transition: background-color 0.3s;
    }
    
    .dropdown-content a:hover {
        background-color: #f5f5f5;
    }
</style>

<div class="container">
    <h1 class="mt-5 mb-4">Order List</h1>
    
    <!-- Search Bar and Filter Row -->
    <div class="row mb-3">
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Search...">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary btn-block">Search</button>
        </div>
        <div class="col-md-2">
            <select class="form-control">
                <option value="">Filter</option>
                <option value="processing">Processing</option>
                <option value="completed">Completed</option>
                <!-- Add more filter options as needed -->
            </select>
        </div>
        <div class="col-md-2">
            <div class="input-group mb-3">
                <input type="email" class="form-control" id="emailInput" placeholder="Enter Email Address">
                <div class="input-group-append">
                    <button class="btn btn-primary" id="exportButton">Download and Export</button>
                </div>
            </div>
            <div id="message" class="mt-2"></div>
        </div>
        
        
    </div>
    

    <!-- Order Table -->
    <div class="order-box">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">User</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Invoice Number</th>
                    <th scope="col">Payment method</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.user }}</td>
                    <td>₹{{ order.total_price }}</td>
                    <td>{{ order.invoice_number }}</td>
                    <td>{{ order.payment_method }}</td>
                    <td>{{ order.status }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton{{ order.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Change Status
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ order.id }}">
                                <form class="statusForm" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="order_id" value="{{ order.id }}">
                                    <button type="submit" class="dropdown-item" data-status="Confirmed">Confirmed</button>
                                    <button type="submit" class="dropdown-item" data-status="Cancelled">Cancelled</button>
                                    <button type="submit" class="dropdown-item" data-status="Completed">Completed</button>
                                </form>
                            </div>
                        </div>
                        
                        <button class="btn btn-primary view-order-btn" onclick="viewOrder(event)" data-order-id="{{ order.id }}">View Order</button>


                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- Modal Template -->
<div class="modal fade" id="orderDetailsModal" tabindex="-1" role="dialog" aria-labelledby="orderDetailsModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderDetailsModalLabel">Order Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>User: <span id="user"></span></p>
                <p>Payment Method: <span id="paymentMethod"></span></p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody id="orderItems">
                        
                    </tbody>
                </table>
                <div class="row">
                   
                    <div class="col-md-12 text-right">
                        <div class="total-amount">
                            <p>Total Price: ₹<span id="totalPrice"></span></p>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Including jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
   
    $(document).ready(function() {
        $('#exportButton').click(function() {
            var email = $('#emailInput').val();
            $.ajax({
                type: 'GET',
                url: '/csv_order_report/',
                data: {
                    email: email
                },
                success: function(response) {
                    $('#message').text('Order report exported and sent successfully to ' + email);
                    downloadCSV(response.csv_data);
                },
                error: function(xhr, status, error) {
                    $('#message').text('Error: ' + xhr.responseJSON.error);
                }
            });
        });

        function downloadCSV(csvData) {
            var blob = new Blob([csvData], { type: 'text/csv' });
            var url = window.URL.createObjectURL(blob);
            var a = document.createElement('a');
            a.href = url;
            a.download = 'order_report.csv';
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
        }
    });



    function viewOrder(event) {
        var orderId = event.target.dataset.orderId;
        $.ajax({
            url: '/get_order_details/' + orderId + '/',
            type: 'GET',
            success: function(response) {
                $('#orderDetailsModal').modal('show');
                $('#user').text(response.user);
                $('#totalPrice').text(response.total_price);
                $('#paymentMethod').text(response.payment_method);
                $('#orderItems').empty();
                response.items.forEach(function(item) {
                    var row = '<tr>' +
                        '<td><img src="' + item.image + '" alt="' + item.name + '" style="max-width: 100px;"></td>' +
                        '<td>' + item.name + '</td>' +
                        '<td>' + item.quantity + '</td>' +
                        '<td>' + item.price + '</td>' +
                        '</tr>';
                        $('#orderItems').append(row);
                });
            },
            error: function(xhr, errmsg, err) {
                console.log(errmsg);
            }
        });
    }
</script>

{% endblock %}

